<?php
/**
 * @category    Custom
 * @package     Custom\jysk
 * @author      Ricards Grinbergs <info@scandiweb.com>
 * @copyright   Copyright (c) 2019 Scandiweb, Ltd (https://scandiweb.com)
 */

use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    ?>
<div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
    <?php if ($block->getTitle()): ?>
    <div class="block-title">
        <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
    </div>
    <?php endif ?>
    <div class="block-content">
        <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
        <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
            <ol class="product-items <?= /* @noEscape */ $type ?>">
                <?php $iterator = 1; ?>
                <?php foreach ($items as $_item): ?>
                <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                <div class="product-item-info">
                    <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                        <?= $block->getImage($_item, $image)->toHtml() ?>
                    </a>
                    <div class="product-item-details">
                        <div class="product-item-name">
                            <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                class="product-item-link">
                                <?= $block->escapeHtml($_item->getName()) ?>
                            </a>
                        </div>
                        <?php if ($templateType): ?>
                        <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                        <?php endif; ?>

                        <?= $block->getProductPriceHtml($_item, $type) ?>

                        <?= $block->getProductDetailsHtml($_item) ?>

                        <?php if ($showWishlist || $showCompare || $showCart): ?>
                        <div class="product-item-inner">
                            <div class="product-item-actions">
                                <?php if ($showCart): ?>
                                <div class="actions-primary">
                                    <?php if ($_item->getIsSalable()): ?>
                                    <div class="stock available">
                                        <div class="eclipse eclipse-available"></div>
                                        <span><?= $block->escapeHtml(__('In stock')) ?></span>
                                    </div>
                                    <?php else: ?>
                                    <div class="stock unavailable">
                                        <div class="eclipse eclipse-unavailable"></div>
                                        <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
                                    </div>
                                    <?php endif; ?>
                                </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?= ($iterator == count($items) + 1) ? '</li>' : '' ?>
                <?php endforeach ?>
            </ol>
        </div>
        <?= $block->getPagerHtml() ?>
    </div>
</div>




<script>
    require([
        'jquery',
        'slick'
    ], function ($) {
        jQuery(document).ready(function () {
            jQuery(".widget-product-grid").slick({
                dots: true,
                arrows: true,
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 4,
                responsive: [{
                        breakpoint: 1279,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            centerMode: true,
                        }
                    },
                    {
                        breakpoint: 1023,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: true,
                        }
                    }
                ]
            });
        });
    });
</script>
<?php endif;?>