// Colors 
$background:                    #ffffff;
$gray-300:                      #999999;
$gray-600:                      #515e75;
$gray-900:                      #373b42;
$green:                         #85b73c;       
$red:                           #ff5b00;       

// Typography
$font-family-sans-serif:        'Open Sans', sans-serif;
$font-family-base:              $font-family-sans-serif;

$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-bolder:            600;
$font-weight-bold:              700;

$media-sm-width:                767px;