/**
 * @category    Custom
 * @package     Custom\jysk
 * @author      Ricards Grinbergs <info@scandiweb.com>
 * @copyright   Copyright (c) 2019 Scandiweb, Ltd (https://scandiweb.com)
 */

// Import
@import "variables";
@import "mixins";
@import "slick";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Main
body {
    margin: 0;
    background-color: $background;
    font-family: $font-family-base;
}

h1 {
    font-size: 26px;
    font-weight: $font-weight-light;
    color: $gray-600;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.content {
    padding: 30px;
    width: auto;
}

// Content

.product-item {
    margin: 0 !important; // Reset
    border: 1px solid #ebebeb;
    font-weight: $font-weight-bolder;

    .product-item-details {
        padding: 24px 16px 24px 16px;
        font-size: 16px;
    }

    .product-item-name {
        margin: 0; // Reset
        margin-bottom: 4px;
        font-weight: $font-weight-bolder;
    }

    .product-item-link {
        color: $gray-900;

        &:hover {
            text-decoration: none;
        }
    }

    .price-box {
        margin: 0; // Reset
        margin-bottom: 4px;
        color: $gray-300;

        .price {
            font-size: inherit;
            font-weight: inherit;         
        }
    }

    .product-item-actions {
        margin: 0; // Reset
        margin-bottom: 4px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: $font-weight-bold;
        align-items: center;

        * {
            font-size: inherit; 
        }

        .available {
            color: $green;
        }

        .unavailable {
            color: $red;
        }
    }
}

.eclipse {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-flex;

    &-available {
        background-color: $green;
    }

    &-unavailable {
        background-color: $red;
    }
}

// Magento

.product-image {
    &-wrapper {
        padding-bottom: 100% !important;
    }

    &-container {
        width: 100% !important;
    }
}

// Slick
.slick-slide {
    margin: 16px;
}

.slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        margin: 8px;

        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 8px;
            height: 8px;
            padding: 0;
            border-radius: 50%;
            cursor: pointer;
            border: 0;
            outline: none;
            opacity: 0.3;
            background-color: $gray-600;
        }
    }

    .slick-active button {
        opacity: 0.8;
    }
}

.slick-prev {
    left: -25px;
    background-image: url('../images/back.svg') !important;
}

.slick-next {
    right: -25px;
    background-image: url('../images/next.svg') !important;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none !important;
    outline: none;
    background: none;
    z-index: 100;

    &:hover, &:active, &:focus {
        background: none;
        box-shadow: none;
    }
}

// Media
@include media-sm {
    .slick-slide {
        opacity: 0.5;
    }

    .slick-active {
        opacity: 1;
    }

    .content {
        padding: 0;
    }

    .slick-prev {
        left: 0;
    }
    
    .slick-next {
        right: 0;
    }
}