/**
 * @category    Custom
 * @package     Custom\jysk
 * @author      Ricards Grinbergs <info@scandiweb.com>
 * @copyright   Copyright (c) 2019 Scandiweb, Ltd (https://scandiweb.com)
 */
/* Slider */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 26px;
  font-weight: 300;
  color: #515e75; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 100%; }

.content {
  padding: 30px;
  width: auto; }

.product-item {
  margin: 0 !important;
  border: 1px solid #ebebeb;
  font-weight: 600; }
  .product-item .product-item-details {
    padding: 24px 16px 24px 16px;
    font-size: 16px; }
  .product-item .product-item-name {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 600; }
  .product-item .product-item-link {
    color: #373b42; }
    .product-item .product-item-link:hover {
      text-decoration: none; }
  .product-item .price-box {
    margin: 0;
    margin-bottom: 4px;
    color: #999999; }
    .product-item .price-box .price {
      font-size: inherit;
      font-weight: inherit; }
  .product-item .product-item-actions {
    margin: 0;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    align-items: center; }
    .product-item .product-item-actions * {
      font-size: inherit; }
    .product-item .product-item-actions .available {
      color: #85b73c; }
    .product-item .product-item-actions .unavailable {
      color: #ff5b00; }

.eclipse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-flex; }
  .eclipse-available {
    background-color: #85b73c; }
  .eclipse-unavailable {
    background-color: #ff5b00; }

.product-image-wrapper {
  padding-bottom: 100% !important; }

.product-image-container {
  width: 100% !important; }

.slick-slide {
  margin: 16px; }

.slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    margin: 8px; }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 8px;
      height: 8px;
      padding: 0;
      border-radius: 50%;
      cursor: pointer;
      border: 0;
      outline: none;
      opacity: 0.3;
      background-color: #515e75; }
  .slick-dots .slick-active button {
    opacity: 0.8; }

.slick-prev {
  left: -25px;
  background-image: url("../images/back.svg") !important; }

.slick-next {
  right: -25px;
  background-image: url("../images/next.svg") !important; }

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none !important;
  outline: none;
  background: none;
  z-index: 100; }
  .slick-prev:hover, .slick-prev:active, .slick-prev:focus, .slick-next:hover, .slick-next:active, .slick-next:focus {
    background: none;
    box-shadow: none; }

@media (max-width: 767px) {
  .slick-slide {
    opacity: 0.5; }
  .slick-active {
    opacity: 1; }
  .content {
    padding: 0; }
  .slick-prev {
    left: 0; }
  .slick-next {
    right: 0; } }
